:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* ===== NAVBAR ===== */
nav {
  background-color:#231C45;
  padding: 1rem 1.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav li {
  display: inline-block;
}

nav a {
  color: #f4f4f4;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}

/* ===== Productos  ===== */

#lista-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

#lista-productos li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

#lista-productos img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

/** Botones de Seccion Productos**/
.btn-detalles {
  background-color: #231C45;
  color: #f4f4f4;
  padding: 8px;
  border-radius: 5px;
  margin-top: 5px;
  border: none;
}

.btn-comprar {
  background-color: indigo;
  color: #f4f4f4;
  padding: 8px;
  border-radius: 5px;
  margin-top: 3px;
  border: none;
}

/** Botones de Seccion Contacto **/
.btn-enviar {
  background-color: #231C45;
  color: #f4f4f4;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

/** Boton General de Volver **/
.btn-volver {
  background-color: #231C45;
  color: #f4f4f4;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

/** Boton General de Vaciar Carrito **/
.btn-vaciar {
  background-color: rgb(201, 43, 43);
  color: #f4f4f4;
  padding: 8px;
  border-radius: 5px;
  border: none;
}